.tests-show-container {
  .question {
    border: 1px dashed $bootstrap-border;
    padding: 10px;
    margin-bottom: 15px;
  }

  .option {
    margin: 0;

    &.true {
      text-decoration: underline;
    }
  }
}
