header {
  border-bottom: 1px solid $bootstrap-border;
  margin-bottom: 30px;
  max-height: 80px;

  .branch img {
    max-width: 100px;
  }

  .navigator {
    @include -display-flex();
    @include -justify-content(flex-end);
    @include -align-items(center);
    margin: 0;
    height: 100%;

    a.active {
      color: $default-text-color;
      pointer-events: none;
      cursor: default;
    }
  }
}

.navigator {
  > *:not(:last-child):after {
    content: '';
    width: 1px;
    height: 15px;
    position: relative;
    display: inline-block;
    background-color: #000;
    margin: 0 8px;
    top: 2px
  }
}
